<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LotteryLegend">
        <activity
            android:name=".entrant.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".event.EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".event.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerEventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerMainActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entrant.MainActivity"
            android:exported="true" />
    </application>

</manifest>